## 데이터 불러오기

In [3]:
import pandas as pd
df=pd.read_csv('heart.csv')

/usr/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)

In [4]:
df

,Age,Sex,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,AHD
0,63,1,typical,145,233,1,2,150,0,2.3,3,0.0,fixed,No
1,67,1,asymptomatic,160,286,0,2,108,1,1.5,2,3.0,normal,Yes
2,67,1,asymptomatic,120,229,0,2,129,1,2.6,2,2.0,reversable,Yes
3,37,1,nonanginal,130,250,0,0,187,0,3.5,3,0.0,normal,No
4,41,0,nontypical,130,204,0,2,172,0,1.4,1,0.0,normal,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,45,1,typical,110,264,0,0,132,0,1.2,2,0.0,reversable,Yes
299,68,1,asymptomatic,144,193,1,0,141,0,3.4,2,2.0,reversable,Yes
300,57,1,asymptomatic,130,131,0,0,115,1,1.2,2,1.0,reversable,Yes
301,57,0,nontypical,130,236,0,2,174,0,0.0,2,1.0,normal,Yes
302,38,1,nonanginal,138,175,0,0,173,0,0.0,1,NaN,normal,No

In [25]:
df.describe()

,Age,Sex,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca
count,297.000000,297.000000,297.000000,297.000000,297.000000,297.000000,297.000000,297.000000,297.000000,297.000000,297.000000
mean,54.542088,0.676768,131.693603,247.350168,0.144781,0.996633,149.599327,0.326599,1.055556,1.602694,0.676768
std,9.049736,0.468500,17.762806,51.997583,0.352474,0.994914,22.941562,0.469761,1.166123,0.618187,0.938965
min,29.000000,0.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,1.000000,0.000000
25%,48.000000,0.000000,120.000000,211.000000,0.000000,0.000000,133.000000,0.000000,0.000000,1.000000,0.000000
50%,56.000000,1.000000,130.000000,243.000000,0.000000,1.000000,153.000000,0.000000,0.800000,2.000000,0.000000
75%,61.000000,1.000000,140.000000,276.000000,0.000000,2.000000,166.000000,1.000000,1.600000,2.000000,1.000000
max,77.000000,1.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.200000,3.000000,3.000000

In [7]:
# 누락치 제거
df.isnull().sum()

Age          0
Sex          0
ChestPain    0
RestBP       0
Chol         0
Fbs          0
RestECG      0
MaxHR        0
ExAng        0
Oldpeak      0
Slope        0
Ca           4
Thal         2
AHD          0
dtype: int64

In [8]:
# 누락치 제거
df=df.dropna(axis=0)

## Categorical Data 변환하기

In [29]:
df.head()

,Age,Sex,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,AHD
0,63,1,typical,145,233,1,2,150,0,2.3,3,0.0,fixed,No
1,67,1,asymptomatic,160,286,0,2,108,1,1.5,2,3.0,normal,Yes
2,67,1,asymptomatic,120,229,0,2,129,1,2.6,2,2.0,reversable,Yes
3,37,1,nonanginal,130,250,0,0,187,0,3.5,3,0.0,normal,No
4,41,0,nontypical,130,204,0,2,172,0,1.4,1,0.0,normal,No

In [34]:
# get_dummies를 이용해 변환
df2=pd.get_dummies(df,columns=['Sex','ChestPain','Thal','AHD'])

In [77]:
df2

,Age,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,...,Sex_1,ChestPain_asymptomatic,ChestPain_nonanginal,ChestPain_nontypical,ChestPain_typical,Thal_fixed,Thal_normal,Thal_reversable,AHD_No,AHD_Yes
0,63,145,233,1,2,150,0,2.3,3,0.0,...,1,0,0,0,1,1,0,0,1,0
1,67,160,286,0,2,108,1,1.5,2,3.0,...,1,1,0,0,0,0,1,0,0,1
2,67,120,229,0,2,129,1,2.6,2,2.0,...,1,1,0,0,0,0,0,1,0,1
3,37,130,250,0,0,187,0,3.5,3,0.0,...,1,0,1,0,0,0,1,0,1,0
4,41,130,204,0,2,172,0,1.4,1,0.0,...,0,0,0,1,0,0,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
297,57,140,241,0,0,123,1,0.2,2,0.0,...,0,1,0,0,0,0,0,1,0,1
298,45,110,264,0,0,132,0,1.2,2,0.0,...,1,0,0,0,1,0,0,1,0,1
299,68,144,193,1,0,141,0,3.4,2,2.0,...,1,1,0,0,0,0,0,1,0,1
300,57,130,131,0,0,115,1,1.2,2,1.0,...,1,1,0,0,0,0,0,1,0,1
301,57,130,236,0,2,174,0,0.0,2,1.0,...,0,0,0,1,0,0,1,0,0,1

In [36]:
df2.columns

Index(['Age', 'RestBP', 'Chol', 'Fbs', 'RestECG', 'MaxHR', 'ExAng', 'Oldpeak',
       'Slope', 'Ca', 'Sex_0', 'Sex_1', 'ChestPain_asymptomatic',
       'ChestPain_nonanginal', 'ChestPain_nontypical', 'ChestPain_typical',
       'Thal_fixed', 'Thal_normal', 'Thal_reversable', 'AHD_No', 'AHD_Yes'],
      dtype='object')

## 데이터 표준화

In [79]:
df=pd.read_csv('auto.csv')
df

,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,mpg
0,8,307.0,130.0,3504.0,12.0,70,1,18.0
1,8,350.0,165.0,3693.0,11.5,70,1,15.0
2,8,318.0,150.0,3436.0,11.0,70,1,18.0
3,8,304.0,150.0,3433.0,12.0,70,1,16.0
4,8,302.0,140.0,3449.0,10.5,70,1,17.0
...,...,...,...,...,...,...,...,...
387,4,140.0,86.0,2790.0,15.6,82,1,27.0
388,4,97.0,52.0,2130.0,24.6,82,2,44.0
389,4,135.0,84.0,2295.0,11.6,82,1,32.0
390,4,120.0,79.0,2625.0,18.6,82,1,28.0
391,4,119.0,82.0,2720.0,19.4,82,1,31.0

In [80]:
# 표준화
df=(df-df.mean())/df.std()

,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,mpg
0,1.482053,1.075915,0.663285,0.619748,-1.283618,-1.623241,-0.715726,-0.697747
1,1.482053,1.486832,1.572585,0.842258,-1.464852,-1.623241,-0.715726,-1.082115
2,1.482053,1.181033,1.182885,0.539692,-1.646086,-1.623241,-0.715726,-0.697747
3,1.482053,1.047246,1.182885,0.536160,-1.283618,-1.623241,-0.715726,-0.953992
4,1.482053,1.028134,0.923085,0.554997,-1.827320,-1.623241,-0.715726,-0.825870
...,...,...,...,...,...,...,...,...
387,-0.862911,-0.519972,-0.479835,-0.220842,0.021267,1.634321,-0.715726,0.455359
388,-0.862911,-0.930889,-1.363154,-0.997859,3.283479,1.634321,0.525711,2.633448
389,-0.862911,-0.567753,-0.531795,-0.803605,-1.428605,1.634321,-0.715726,1.095974
390,-0.862911,-0.711097,-0.661694,-0.415097,1.108671,1.634321,-0.715726,0.583482
391,-0.862911,-0.720653,-0.583754,-0.303253,1.398646,1.634321,-0.715726,0.967851

## SKlearn을 이용한 전처리

In [83]:
df=pd.read_csv('auto.csv')

In [84]:
from sklearn.preprocessing import StandardScaler, MinMaxScaler
## 정규화 (평균0, 표준편차0으로 스케일링)
scaler = StandardScaler()
output = scaler.fit_transform(df)
output

array([[ 1.48394702,  1.07728956,  0.66413273, ..., -1.62531533,
        -0.71664105, -0.69863841],
       [ 1.48394702,  1.48873169,  1.57459447, ..., -1.62531533,
        -0.71664105, -1.08349824],
       [ 1.48394702,  1.1825422 ,  1.18439658, ..., -1.62531533,
        -0.71664105, -0.69863841],
       ...,
       [-0.86401356, -0.56847897, -0.53247413, ...,  1.63640964,
        -0.71664105,  1.09737414],
       [-0.86401356, -0.7120053 , -0.66254009, ...,  1.63640964,
        -0.71664105,  0.5842277 ],
       [-0.86401356, -0.72157372, -0.58450051, ...,  1.63640964,
        -0.71664105,  0.96908753]])

In [85]:
pd.DataFrame(output, columns=df.columns)

,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,mpg
0,1.483947,1.077290,0.664133,0.620540,-1.285258,-1.625315,-0.716641,-0.698638
1,1.483947,1.488732,1.574594,0.843334,-1.466724,-1.625315,-0.716641,-1.083498
2,1.483947,1.182542,1.184397,0.540382,-1.648189,-1.625315,-0.716641,-0.698638
3,1.483947,1.048584,1.184397,0.536845,-1.285258,-1.625315,-0.716641,-0.955212
4,1.483947,1.029447,0.924265,0.555706,-1.829655,-1.625315,-0.716641,-0.826925
...,...,...,...,...,...,...,...,...
387,-0.864014,-0.520637,-0.480448,-0.221125,0.021294,1.636410,-0.716641,0.455941
388,-0.864014,-0.932079,-1.364896,-0.999134,3.287676,1.636410,0.526382,2.636813
389,-0.864014,-0.568479,-0.532474,-0.804632,-1.430430,1.636410,-0.716641,1.097374
390,-0.864014,-0.712005,-0.662540,-0.415627,1.110088,1.636410,-0.716641,0.584228
391,-0.864014,-0.721574,-0.584501,-0.303641,1.400433,1.636410,-0.716641,0.969088

## Polynomial Term 추가하기

In [73]:
df=pd.read_csv('simple.csv')
df

            X          y
0    0.542312   4.216289
1    0.541676   2.874347
2   -2.344561  11.687971
3    1.220562   0.512072
4    2.011580  -3.117803
..        ...        ...
995 -1.378233  10.731244
996 -0.154483   4.602639
997 -0.097741   3.282276
998 -1.309402   9.394069
999 -0.225035   3.260692

[1000 rows x 2 columns]

In [74]:
## 객체 생성
from sklearn.preprocessing import PolynomialFeatures
transformer = PolynomialFeatures(degree=2, interaction_only=True)

In [75]:
## 데이터 변환
output=transformer.fit_transform(df)
output # Array형태

array([[  1.        ,   0.54231199,   4.21628949,   2.28654434],
       [  1.        ,   0.54167552,   2.87434682,   1.55696331],
       [  1.        ,  -2.34456094,  11.68797089, -27.40315998],
       ...,
       [  1.        ,  -0.09774062,   3.28227568,  -0.32081166],
       [  1.        ,  -1.30940196,   9.39406861, -12.30061187],
       [  1.        ,  -0.22503533,   3.26069231,  -0.73377097]])

In [76]:
## 열이름 붙이기
columns = transformer.get_feature_names(df.columns)
columns

['1', 'X', 'y', 'X y']

In [61]:
## 다시 데이터프레임으로
pd.DataFrame(output,columns=columns)

       1         X          y        X y
0    1.0  0.542312   4.216289   2.286544
1    1.0  0.541676   2.874347   1.556963
2    1.0 -2.344561  11.687971 -27.403160
3    1.0  1.220562   0.512072   0.625016
4    1.0  2.011580  -3.117803  -6.271710
..   ...       ...        ...        ...
995  1.0 -1.378233  10.731244 -14.790157
996  1.0 -0.154483   4.602639  -0.711027
997  1.0 -0.097741   3.282276  -0.320812
998  1.0 -1.309402   9.394069 -12.300612
999  1.0 -0.225035   3.260692  -0.733771

[1000 rows x 4 columns]

In [64]:
## 한번에
transformer = PolynomialFeatures(degree=2, interaction_only=False)
output=transformer.fit_transform(df)
columns = transformer.get_feature_names(df.columns)
pd.DataFrame(output,columns=columns)

       1         X          y       X^2        X y         y^2
0    1.0  0.542312   4.216289  0.294102   2.286544   17.777097
1    1.0  0.541676   2.874347  0.293412   1.556963    8.261870
2    1.0 -2.344561  11.687971  5.496966 -27.403160  136.608663
3    1.0  1.220562   0.512072  1.489772   0.625016    0.262218
4    1.0  2.011580  -3.117803  4.046454  -6.271710    9.720696
..   ...       ...        ...       ...        ...         ...
995  1.0 -1.378233  10.731244  1.899527 -14.790157  115.159608
996  1.0 -0.154483   4.602639  0.023865  -0.711027   21.184289
997  1.0 -0.097741   3.282276  0.009553  -0.320812   10.773334
998  1.0 -1.309402   9.394069  1.714533 -12.300612   88.248525
999  1.0 -0.225035   3.260692  0.050641  -0.733771   10.632114

[1000 rows x 6 columns]