In [9]:
import pandas as pd

df = {'y_label': [160,172,176,186,196,202,212], 'y_pred': [166,170,180,186,194,208,208] }
df=pd.DataFrame.from_dict(df)
df

   y_label  y_pred
0      160     166
1      172     170
2      176     180
3      186     186
4      196     194
5      202     208
6      212     208

In [11]:
from sklearn.metrics import r2_score, mean_absolute_error, mean_absolute_percentage_error, mean_squared_error
y_true = df['y_label']
y_pred = df['y_pred']
r2_score(y_true, y_pred), mean_squared_error(y_true, y_pred, squared = False), mean_absolute_error(y_true, y_pred), mean_absolute_percentage_error(y_true, y_pred)

(0.944095835710211, 4.0, 3.4285714285714284, 0.01866145088028594)